<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu">
                <h3>GRUPO 4</h3>
                <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold"> </span><span class="ae-u-bolder"> Mayte Baez - Cristhian Morocho </span></p>
                <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">©</span><span class="ae-u-bolder"> 2020 |</span>All Right Reserved.</p>
            </ul>

        </div>


    </div>
</footer>